*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
}
.container{
    min-height:50vh; 
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.calculator{
    /* background-color: aquamarine; */
    height: 50vh;
    width: 30%;
    margin: 10px;
    text-align: center;
}
.calculator input{
    margin: 10px;
    width: 40%;
}
.calculator button{
    margin-top: 15px;
}

.calculator h4 {
    margin-top: 30px;
}
.calculator h3 {
    margin-top: 30px;
}

.calculator p{
    margin-top: 15px;
}

